# This is the default configuration file.

Packaging/BundlerSetupInTests:
  Description: 'Avoid using `bundler/setup` in your tests.'
  Enabled: true
  VersionAdded: '0.4'
  VersionChanged: '0.5'

Packaging/GemspecGit:
  Description: 'Use pure Ruby alternative instead of `git ls-files`.'
  Enabled: true
  VersionAdded: '0.1'
  VersionChanged: '0.1'

Packaging/RequireRelativeHardcodingLib:
  Description: 'Avoid using `require_relative` with relative path to lib.'
  Enabled: true
  VersionAdded: '0.2'
  VersionChanged: '0.5'

Packaging/RequireWithRelativePath:
  Description: 'Avoid using `require` with relative path to lib.'
  Enabled: true
  VersionAdded: '0.4'
  VersionChanged: '0.5'
